<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button><ion-icon ios="ios-arrow-dropleft" md="md-arrow-dropleft"></ion-icon></ion-back-button>
    </ion-buttons>
     <ion-title style="text-align: start;">Celebration</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="subtext-size-use" style="text-align: start; font-size: 13px; padding: 5px; right: 0mm;">Lorem Ipsum is simply dummy text of the printing and typesetting industry</div>

  <ion-grid>
     <ion-row>
       <ion-col>
        <ion-card>
          <img style="height: 80px;" src="assets/icon/placeholder.png"  />
        </ion-card>
        </ion-col>
        <ion-col>
          <ion-card>
            <img style="height: 80px; " src="assets/icon/placeholder.png"  />
          </ion-card>
          </ion-col>
          <ion-col>
            <ion-card>
              <img style="height: 80px;" src="assets/icon/placeholder.png"  />
            </ion-card>
            </ion-col>
            
    </ion-row>
    <ion-row>
      <ion-col>
       <ion-card>
         <img style="height: 80px;" src="assets/icon/placeholder.png"  />
       </ion-card>
       </ion-col>
       <ion-col>
         <ion-card>
           <img style="height: 80px; " src="assets/icon/placeholder.png"  />
         </ion-card>
         </ion-col>
         <ion-col>
           <ion-card>
             <img style="height: 80px;" src="assets/icon/placeholder.png"  />
           </ion-card>
           </ion-col>
           
   </ion-row>
   <ion-row>
    <ion-col>
     <ion-card>
       <img style="height: 80px;" src="assets/icon/placeholder.png"  />
     </ion-card>
     </ion-col>
     <ion-col>
       <ion-card>
         <img style="height: 80px; " src="assets/icon/placeholder.png"  />
       </ion-card>
       </ion-col>
       <ion-col>
         <ion-card>
           <img style="height: 80px;" src="assets/icon/placeholder.png"  />
         </ion-card>
         </ion-col>
         
 </ion-row>
  
   
   
  </ion-grid>
 
</ion-content>
