<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button><ion-icon ios="ios-arrow-dropleft" md="md-arrow-dropleft"></ion-icon></ion-back-button>
    </ion-buttons>
     <ion-title style="text-align: start;">News</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
   <ion-card *ngFor="let dd of newslist" (click)="detailsPush(dd)">
    <img  src="{{dd.image_url}}"/>
     <ion-card-content padding>
      <h5 class="subtitle-style">#startupday #Success</h5>
      <ion-card-title style="font-size: 9px; font-weight: 700;">{{dd.bulletin_board_title}}
        </ion-card-title>
        <h5 style="font-size: 10px;">{{dd.created_at  | date: 'dd MMMM yyyy'}}</h5>
      <h6 class="subtitle-style">
        {{dd.bulletin_board_desc}}
      </h6>
    </ion-card-content>
  </ion-card>
  </ion-content>