<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="calendar">
      <ion-icon name="calendar-outline"></ion-icon>
      <ion-label>Calendar</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <!-- <ion-icon name="calendar-outline"></ion-icon> -->
      <ion-icon name="list-circle-outline"></ion-icon>
      <ion-label>To Do </ion-label>
    </ion-tab-button>

    <ion-tab-button></ion-tab-button>
    <!-- <ion-tab-button tab="tab3">
      <ion-icon name="calendar-outline"></ion-icon>
      <ion-label>Tab 3</ion-label>
    </ion-tab-button> -->
   
    <ion-tab-button tab="tab3">
      <!-- <ion-icon name="calendar-outline"></ion-icon> -->
      <ion-icon name="shield-checkmark-outline"></ion-icon>
      <ion-label>Attendance</ion-label>
    </ion-tab-button>
   
    <ion-tab-button tab="inbox">
      <!-- <ion-icon name="calendar-outline"></ion-icon> -->
      <ion-icon name="mail-outline"></ion-icon>
      <ion-label>Inbox</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

<ion-fab vertical="bottom" value="fab" horizontal="center" slot="fixed">
    <ion-fab-button [routerLink]="['/tabs/tab1']">
        <ion-icon name="home"></ion-icon>
    </ion-fab-button>
</ion-fab>

</ion-tabs>
