<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button><ion-icon ios="ios-arrow-dropleft" md="md-arrow-dropleft"></ion-icon></ion-back-button>
    </ion-buttons>
    <ion-title>About Us</ion-title>
  </ion-toolbar>
</ion-header>

<img src="assets/icon/webiner.jpg" style="height: 20%; width: 100%;" />
  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="ion-text-center">
          <h3>About Us</h3>
          Lorem Ipsum is simply dummy text of the printing and 
          typesetting industry. Lorem Ipsum has been the industry's standard

        </div>
      </ion-col>
  </ion-row>
      </ion-grid>
      <ion-grid>
     
       <div class="verticalLine"></div>
       <ion-row>
        <ion-col>
          <div class="ion-text-justify">

            There are many variations of passages of Lorem Ipsum available, 
            but the majority have suffered alteration in some form, by injected humour,
             or randomised words which don't look even slightly believable. If you are
              going to use a passage of Lorem Ipsum, you need to be sure there isn't
               anything embarrassing hidden in the middle of text. All the Lorem Ipsum 
               generators on the Internet tend to repeat predefined chunks as necessary,
                
                
          </div>
        </ion-col>
    </ion-row>
  </ion-grid>
<ion-content>

</ion-content>